/*Buttons*/
#submit,
ToggleButton {
    -fx-font-size: 14px;
    -fx-font-weight: small;
}

/*Textfield*/
#diced {
    -fx-font-size: 20pt;
    -fx-font-family: "Arial";
}

/*Main window*/
.root {
    -fx-font-size: 16pt;
    -fx-base: rgb(93, 109, 126);
    -fx-background: rgb(93, 109, 126);
}