#field {
    -fx-font: normal bold 15px 'sans-serif';
    -fx-background-color: seagreen;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-pref-height: 631px;
    -fx-pref-width: 1000px;
}

#submit {
    -fx-background-color: yellowgreen;
}
#submit.button:pressed {
    -fx-background-color: red;
}
#start {
    -fx-background-color: yellowgreen;
}
#start.button:pressed {
    -fx-background-color: red;

}
#writeResults {
    -fx-background-color: cadetblue;
}
#writeResults.button:pressed {
    -fx-background-color: red;
}

Label {
    -fx-font: normal bold 32px 'sans-serif';
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: beige;
    -fx-background-color: beige;
}

#playerGroup Label {
    -fx-font: normal bold 12px 'sans-serif';
    -fx-background-color: beige;
    -fx-border-color: black;
}

.holdButton {
    -fx-pref-height: 40;
    -fx-pref-width: 90;
    -fx-color: WhiteSmoke;
}
/*Change holdButton-color when hold or press the button*/

.holdButton:selected {
    -fx-background-color: cadetblue;

}
.holdButton:pressed {
    -fx-color: red;

}

TextField {
    -fx-background-color: white;
}
