#field {
    -fx-font: normal bold 15px 'sans-serif';
    -fx-background-color: seagreen;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
    -fx-pref-height: 631px;
    -fx-pref-width: 1000px;
}

#borderfield {
    -fx-background-color: sienna;
    -fx-background-radius: 5.0;
}

#rounds {
    -fx-background-color: beige;
    -fx-border-width: 3px;
    -fx-border-color: yellowgreen;
}

#playerGroup Label,
#resultGroupP1 Label,
#resultGroupP2 Label,
#resultGroupP3 Label,
#resultGroupP4 Label,
#resultGroupP5 Label {
    -fx-font: normal bold 12px 'sans-serif';
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

Label {
    -fx-font: normal bold 32px 'sans-serif';
    -fx-background-color: beige;
    -fx-background-radius: 10px;
}

TextField {

    -fx-background-color: white;

}

#submit {
    -fx-background-color: yellowgreen;
    -fx-background-radius: 10px;
}

#submit.button:pressed {
    -fx-background-color: chartreuse;
}

#start {
    -fx-background-color: yellowgreen;
    -fx-background-radius: 10px;
}

#start.button:pressed {
    -fx-background-color: chartreuse;

}

#writeResults {
    -fx-background-color: cadetblue;
    -fx-background-radius: 10px;
}

#writeResults.button:pressed {
    -fx-background-color: skyblue;
}

.holdButton {
    -fx-pref-height: 40;
    -fx-pref-width: 90;
    -fx-color: WhiteSmoke;
}

/*Change holdButton-color when hold or press the button*/

.holdButton:selected {
    -fx-background-color: cadetblue;

}

.holdButton:pressed {
    -fx-color: skyblue;

}
